:root {
  --font-family: 'Rubik', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family: 'Inter var', sans-serif;
  }
}

body, h1, h2, h3, h4, h5, h6, p, span, div, button, input, textarea, select {
  font-family: var(--font-family) !important;
}
